#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Chat
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 8" --app-id=mdpkiolbdkhdjpekfbkbmhigcaggjagi
Icon=chrome-mdpkiolbdkhdjpekfbkbmhigcaggjagi-Profile_8
StartupWMClass=crx_mdpkiolbdkhdjpekfbkbmhigcaggjagi
